@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");

body {
  background-image: url(../img/bck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Comfortaa", cursive;
  background-attachment: fixed;
  overflow-y: scroll;
  min-height: 100vh;
}
.header-outer {
  height: 150px;
  width: 100%;
}
header {
  height: 120px;
  width: 100%;
  transition-property: background-color, height, background-position;
  transition-duration: 0.5s;
  -webkit-transition-property: background-color, height, background-position;
  -webkit-transition-duration: 0.5s;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 20px 1px #000;
}
header a {
  position: relative;
}
.logo {
  height: 120px;
}
.badge {
  font-size: 100%;
  border-radius: 15px;
  position: absolute;
  left: -10px;
  top: -5px;
}
.poke-ball {
  height: 50px;
}
.content {
  flex-grow: 1;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-outer,
footer {
  flex-shrink: 0;
}
footer {
  height: 75px;
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 20px 1px #000;
}
@media only screen and (max-width: 768px) {
  .logo {
    height: 80px;
  }
}
/* --------------------------- */
/*  Loader - big and small  */
/* --------------------------- */
.main-loader {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: calc(50% - 150px);
  color: #ffde00;
  border-radius: 10px;
  text-shadow: 2px 2px 6px #000000;
}
.main-loader p {
  position: absolute;
  top: 30%;
  left: 25%;
  font-weight: 700;
  font-size: xx-large;
}
.main-spinner {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 40%;
  border: 1em solid currentColor;
  border-right-color: transparent;
}
.spinner {
  position: absolute;
  top: 40%;
  left: calc(50% - 15px);
}
/* --------------------------- */
/*  Buttons on home page */
/* --------------------------- */
.buttons-next-prev {
  position: fixed;
  top: 45px;
  z-index: 110;
}
.buttons-next-prev span {
  padding: 7px 15px;
  color: #ffde00;
  text-shadow: 1px 1px 4px #000000;
}
.fs-1 {
  font-size: large;
}
.fs-2 {
  font-size: medium;
}
.fw-bold {
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .fs-1 {
    font-size: medium;
  }
  .fs-2 {
    font-size: small;
  }
  .buttons-next-prev {
    position: fixed;
    top: 75px;
    z-index: 110;
  }
}
/* --------------------------- */
/* Pokemon card on home page */
/* --------------------------- */
.pokemon-item {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  padding: 15px;
  min-height: 314px;
  min-width: 250px;
  margin: 15px auto;
  border-radius: 10px;
  position: relative;
  font-weight: 700;
  color: #ffde00;
  border-bottom: #ffde00 solid 0.5em;
  text-shadow: 2px 2px 6px #000000;
  box-shadow: 1px 1px 20px 1px #000;
}
.pokemon-item:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  text-decoration: none;
  font-weight: 700;
  color: #ffde00;
  border-bottom: #ffde00 solid 0.5em;
  text-shadow: 2px 2px 6px #000000;
}
.pokemon-item a {
  color: #ffde00;
  text-decoration: none;
}
.head-line-card {
  font-size: x-large;
}
.img-home {
  height: 150px;
  margin: 20px auto;
  display: block;
}
.custom-switch {
  padding: 8px 10px 8px 60px;
  z-index: 10;
  display: block;
}
.custom-switch:hover,
.custom-control-label:hover {
  cursor: pointer;
}
.custom-control-input:focus ~ .custom-control-label::before {
  border-color: #ffde00 !important;
  box-shadow: 0 0 0 0 rgba(255, 47, 69, 0.25) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #ffde00 !important;
  background-color: #ffde00 !important;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: #ffde00 !important;
  border-color: #ffde00 !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #ffde00 !important;
}

.custom-control-input-green:not(:disabled):active
  ~ .custom-control-label::before {
  background-color: #ffde00 !important;
  border-color: #ffde00 !important;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #000 !important;
}
/* --------------------------- */
/*  Single Pokemon page */
/* --------------------------- */
.background-white {
  background-color: #fff;
  border-radius: 10px;
}
.pokemon-image {
  margin-top: -120px;
}
.pokemon-image img {
  width: 300px;
  height: 300px;
}
.margin-row-t {
  margin-top: 120px;
}
/*----Type-----*/
.type-line-x {
  border-left: #ccc 1px solid;
  border-right: #ccc 1px solid;
}
.type-line-left {
  border-left: #ccc 1px solid;
}
.type-line-bottom {
  border-bottom: #ccc 1px solid;
}
.type-span {
  font-size: large;
  font-weight: 700;
  text-transform: capitalize;
}
.type-desc {
  font-size: small;
}
@media only screen and (max-width: 768px) {
  .type-line-x {
    border-left: none;
    border-right: none;
  }
  .type-line-left {
    border-left: none;
  }
}
/*----Stats-----*/
.stat-bar-bck {
  width: 100%;
  background-color: #eaeaea;
  border-radius: 30px;
}
.stat-bar-loading {
  width: 1%;
  height: 30px;

  border-radius: 30px;
}
.hp {
  background-color: green;
}
.speed {
  background-color: #b3a125;
}
.attack,
.special-attack {
  background-color: #cc0000;
}
.defense,
.special-defense {
  background-color: #3b4cca;
}
/*evolution*/
.evolution-arrow {
  font-size: xx-large;
}
@media only screen and (max-width: 1200px) {
  .evolution-arrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    margin-right: 20px;
  }
}
/* moves and moves slider*/
.moves-slider {
  width: 95%;
  margin: auto;
}
.carousel .slider-wrapper {
  margin: 0px auto 60px auto;
}
.carousel .slide {
  background: #fff;
}
.carousel .carousel-status {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 47%;
  padding: 5px;
  font-size: small;
  text-shadow: none;
  color: #000;
}
.carousel.carousel-slider .control-arrow {
  top: 40%;
  color: #000;
  font-size: 26px;
  padding: 5px;
  opacity: 1;
  width: 50px;
  height: 50px;
  background-color: #ffde00;
  box-shadow: 1px 1px 10px 1px #000;
}
.carousel.carousel-slider .control-arrow:hover {
  background: none;
  background-color: #ffde00;
}
.carousel .control-next.control-arrow {
  right: 3%;
}
.carousel .control-prev.control-arrow {
  left: 3%;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}
.slide {
  align-items: center;
  display: flex;
}
.margin-moves {
  margin: 15px 0;
}

@media only screen and (max-width: 768px) {
  .carousel.carousel-slider .control-arrow {
    top: auto;
    bottom: 3%;
    color: #000;
    font-size: 26px;
    padding: 5px;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-color: #ffde00;
    box-shadow: 1px 1px 10px 1px #000;
  }
  .carousel .carousel-status {
    right: 41%;
  }
}
/*my pokemons*/
table a {
  color: #b3a125;
}
table td {
  vertical-align: middle !important;
}
